
@charset "utf-8";
@import url('https://example.com/another-stylesheet.css');

/*Imported the font*/
@font-face
{
    font-family: Online;
    src: url('Online.ttf') format('truetype');
}
/* Use the font*/
h1
{
    font-family: Online;
    font-size:23px;
}